td.square {
  width: 62px;
  height: 64px;
  padding: 1px;
}
table.board {
  margin: 50px auto 100px auto;
}
.new-game {
  width: 150px;
  height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  color: #fff9cc;
  border: 3px solid rgba(0, 0 , 0, .9);
  border-radius: 5px;
  margin: 25px 0;
  display: block;
}
img, i {
  cursor: pointer;
}
.highlighted-box {
  cursor: crosshair;
}