<!doctype html>
<html>
<head>
<title>La Luz de Ajedrez</title>
<meta description="la luz de ajedrez">
<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="chessboard/stylesheets/chessboard.css">
<link rel="stylesheet/less" type="text/css" href="index.less" />
</head>
<body ng-app="LaLuzDeAjedrez">
  <div ng-controller="WindowController">
    <div ng-controller="ChessboardController">
      <div ng-controller="PiecesController">
        <div ng-controller="GameController">
          <div ng-controller="PgnController">
            <div class="title">
              <h3>{{gameTitle}}</h3>
            </div>
            <div class="statistics">
              <table class="stats">
              </table>
            </div>
            <div class="options">
              <button ng-click="init(); newGame()" class="new-game">New Game</button>
              <button ng-click="" class="new-game">Master Games</button>
              <label>Detailed View</label>
              <input type="checkbox"
                     ng-model="option"
                     ng-change="detailedView(option)"
                     checked>
              <div class="upload">
                <label>PGN Upload</label>
                <form enctype="multipart/form-data">
                  <input name="file" type="file" class="file">
                  <input type="button" value="Upload" class="button hidden">
                </form>
              </div>
            </div>
            <table class="board">
              <tbody>
                <tr ng-repeat="row in board">

                  <td class="square highlighted-box"
                      ng-style="{'background': getBackgroundColor($index, $parent.$index)}"
                      ng-repeat="square in row"
                      ng-model="selected"
                      ng-class="{'highlighted-box':selected}"
                      ng-drop="true" 
                      ng-drop-success="onDropComplete($data, $event, $index, $parent.$index)"
                      
                      >
                      
                    <img id="{{$index.toString().concat($parent.$index)}}"
                         ng-src="{{getImage($index, $parent.$index, this)}}"
                         ng-drag="true" 
                         ng-drag-data="board[$index][$parent.$index].piece"
                         ng-drag-success="onDrag($data, $event)"

                         >
                         
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- set options before less.js script -->
<script>
  less = {
    env: "development",
    async: false,
    fileAsync: false,
    poll: 1000,
    functions: {},
    dumpLineNumbers: "comments",
    relativeUrls: false,
    rootpath: ":/a.com/"
  };
</script>
<script src="../bower_components/less/dist/less.min.js" type="text/javascript"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/underscore/underscore-min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/ng-draggable/dist/js/ng-draggable.min.js"></script>
<script src="app.js"></script>
<script src="pgnLoader/controllers/pgnCtrl.js"></script>
<script src="window/controllers/windowCtrl.js"></script>
<script src="chessboard/controllers/chessboardCtrl.js"></script>
<script src="pieces/controllers/piecesCtrl.js"></script>
<script src="game/controllers/gameCtrl.js"></script>
</body>
</html>