td {
  border: 2px solid rgb(230, 230, 230);
}
.options {
  margin: 50px auto;
  float:right;
  width: 400px;
  text-align:left;
}
.upload {
  display: block;
  text-align: left;
  margin-top: 20px;
}
.title {
  position:relative;
  left:0;
  right:0;
  margin: 0px auto 0px auto;
  text-align: center;
  border-bottom: 2px solid rgb(230, 230, 230);
  width: auto;
  height: 50px;
}
.statistics {
  float:left;
  width: 344px;
  height: 980px;
  margin-top: 50px;
  margin-left: 50px;
}
table.stats {
  width: 100%;
}
.highlighted-box {
  background: rgba(100,50,25,0.5);
}